<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="pt-BR">
 <head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>Lembrete</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body style="margin: 0; padding: 0; font-family: Helvetica">
  <table style=" margin-left: auto; margin-right: auto; width: 600px; padding: 0; border-spacing: 0; border-collapse: separate;">
    <tr>
      <td style="padding: 40px 0 30px 30px; background-color: #fff">

        <h1>Olá, {{name}}</h1>
        <p>Lembrete do dia {{dayNotify}}.</p>
        

        {{#if notifyCalendar}}
          <h4>Lembretes/Eventos:</h4>
          <ul>
            {{#each notifyCalendar}} 
              <li>{{name}}: {{note}}</li>
            {{/each}}
          </ul>
        {{/if}}

        {{#if notifyExpirationDate}}
          <h4>Validades:</h4>
          <ul>
            {{#each notifyExpirationDate}} 
              <li>{{name}}</li>
            {{/each}}
          </ul>
        {{/if}}
      </td>
    </tr>
  </table>
</body>
</html>